.filter-container {
    flex: 0.2;
    min-width: 300px;
    display: flex;
    justify-content: center;
    .card {
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0,0,0,.08),0 3px 20px rgba(0,0,0,.04)!important;
        border-radius: 16px!important;
        margin: 10px;
        height: 750px;
        background-color: white;
        .heading {
            font-size: 22px;
            color: black;
        }
        .field-container {
            .head {
                font-size: 16px;
                color: black;
                text-align: center;
                margin: 0px 10px;
                border-bottom: 1px solid;
            }
            .years {
                text-align: center;
                .year {
                    display: inline-block;
                    margin: 10px;
                    padding: 10px;
                    width: 40%;
                    background-color: blueviolet;
                    color: white;
                    border-radius: 2px!important;
                    cursor: pointer;
                    &.enable {
                        background-color: #8a2be285;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    
    .filter-container {
       .card {
               width: 300px;
       }
    }
  }