


@font-face {
    font-family: 'Quicksand-Regular';
    src: local('Quicksand-Regular'), url(fonts/Quicksand-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Quicksand-Bold';
    src: local('Quicksand-Bold'), url(fonts/Quicksand-Bold.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Quicksand-Medium';
    src: local('Quicksand-Medium'), url(fonts/Quicksand-Medium.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Quicksand-Light';
    src: local('Quicksand-Light'), url(fonts/Quicksand-Light.ttf) format('truetype');
  }
  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand-Regular';
}

.container {
    position: relative;
    background-color: #80808014;
    display: flex;
}
@media only screen and (max-width: 600px) {
    .container {
      flex-direction: column;
      align-self: center;
      justify-content: center;
    }
  }